*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    
}
[data-title]{
    color: aqua;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
<<<<<<< HEAD
    max-width: 1440px;
=======
    max-width: 1240px;
>>>>>>> 24565070c0e024f824557bd43e79ff187c87b147
    padding: 1rem;
}

.container .item{
    width: calc(50% - 50px);
}

.container.box{
    box-shadow: 1px -1px 15px 7px;
}
p{
    border: 1px solid #999;
    padding: 10px;
}
.btn{
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
}

.image_tana{
     width: 50%; 
}