*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
[data-title]{
    color: aqua;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
    max-width: 1440px;
}

.container .item{
    width: calc(50% - 50px);
}

.container.box{
    box-shadow: 1px -1px 15px 7px;
}
p{
    border: 1px solid #999;
    padding: 10px;
}
.btn{
    padding: 10px;
}

