* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  background-color: #FBFEFD;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.container__bd {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  font-size: 1.7rem;
  font-weight: 500;
  color: #707070;
}

.logo:hover {
  color: #069C54;
}

.section {
  padding: 10rem 0 3rem;
}

.section__subtitle {
  display: block;
  color: #069C54;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.section__title {
  color: #393939;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.section__description {
  color: #707070;
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
}

.section__link {
  display: inline-block;
  background-color: #069C54;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.2rem 1.6rem;
  border-radius: .7rem;
  letter-spacing: 1px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FBFEFD;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-link {
  font-size: 1.7rem;
  font-weight: 500;
  color: #707070;
  margin-left: 3.5rem;
}

.header__menu-link:hover {
  color: #069C54;
}

.header__menu-activelink {
  color: #069C54;
}

.home__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: calc(100vh - 3rem);
}

.home__info, .home__image {
  width: calc(50% - 2rem);
}

.home__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.home__title {
  color: #069C54;
  font-size: 6.5rem;
  margin-bottom: 2rem;
}

.home__subtitle {
  color: #393939;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.home__link {
  padding: 1.2rem 1.6rem;
  color: #FFFFFF;
  background: #069C54;
  font-size: 1.7rem;
  border-radius: 1rem;
  display: inline-block;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.home__link:hover {
  background-color: #048654;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.about__image, .about__info {
  width: calc(50% - 6rem);
}

.about__image {
  width: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.services__subtitle, .services__titles {
  text-align: center;
  display: block;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  width: calc(33% - 2rem);
  text-align: center;
}

.services__image {
  height: 64px;
  width: 64px;
  fill: #069C54;
  margin-bottom: 2rem;
}

.services__title {
  color: #393939;
  font-size: 2rem;
  font-weight: 550;
  margin-bottom: 1.5rem;
}

.services__description {
  padding: 0 2rem;
}
/*# sourceMappingURL=restaurant_style.css.map */